[submodule "Voyager/front-end"]
	path = Voyager/front-end
	url = https://github.com/andrewliu26/voyager-fe
[submodule "Voyager/back-end"]
	path = Voyager/back-end
	url = https://github.com/laimao19/voyager-be
